* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.button {
  background: none;
  border: none;
  color: #757475;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
}

.button.active {
  color: #ffffff;
}

.experiment-module-panel {
  justify-content: center;
  padding: 10px;
  background-color: #000000;
  width: 700px;
}

.experiment-module {
  width: 100%;
  padding: 10px;
  background-color: #191919;
  border-radius: 10px;
  margin-top: 10px;
}

.experiment-module:first-child {
  margin-top: 0px;
}

.experiment-head {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
}

.experiment-title {
  color: #757475;
}

.experiment-module:not(.locked):not(.empty) .experiment-title {
  color: #ffffff;
}

.experiment-module.empty .experiment-locked {
  display: none;
}

.experiment-locked {
  color: #757475;
}

.experiment-body {
  margin-top: 10px;
}

.experiment-footer {
  display: flex;
}

.experiment-module.closed > .experiment-body,
.experiment-module.closed > .experiment-footer {
  display: none;
}

.experiment-footer > button:first-child {
  margin-left: auto;
}

.experiment-footer > button {
  margin-left: 20px;
}

.iteration-list {
  background: #000000;
  border-radius: 10px;
}

.iteration-row {
  display: flex;
  color: #737372;
  padding: 10px;
  border-bottom: 2px solid #191919;
}

.iteration-title {
  margin-left: 20px;
}

.iteration-selection {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
}

.iteration-selection.active::after {
  content: ' ';
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4aa24a;
  transform: translateY(-50%);
}

.iteration-input {
  display: inline-block;
  color: #737372;
  margin-left: 20px;
  background: none;
  border: none;
  font-size: 1rem;
  flex-grow: 1;
}

.iteration-input:active, .iteration-input:focus {
  outline: none;
}

.new-iteration-hint {
  background-color: #000000;
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  color: #737372;
  border-radius: 10px;
}